
/DownloadLists
/scripts.movies
/sound
/addons
/bin
/cache
/downloads
/maps
/materials
/media
/models
/particles
/resource.bak
/screenshots
/scripts
/scripts.bak
/voice_ban.dt
/c3_tga.txt
/demoheader.tmp
/gameinfo.txt
/gamestate.txt
/jump_hobo_engi.dem
/KillStreaks.txt
/modelsounds.cache
/serverconfig.vdf
/stats.txt
/test.dem
/tf2_playerstats.dmx
/prec_demos
/cfg/config.cfg
/scripts.movie
/cfg/settings.scr
*.dem
/cfg/motd_entries.txt
/cfg/server_blacklist.txt
/cfg/config_arena.cfg
/cfg/user.scr
/resource/tfd.ttf
/resource/game.ico
/resource/tf.ttf
/resource/tf2.ttf
/resource/tf2build.ttf
/resource/tf2professor.ttf
/resource/tf2secondary.ttf
/addons_unused
/movie
/cfg/chris.high.frames.cfg
/cfg/jump_pyro_stock.cfg
/cfg/replay.cfg
/cfg/replay_ftp.cfg
/cfg/replay_local_http.cfg
/cfg/sixense_bindings.cfg
/trainingprogress.txt
/replay